@import url('https://fonts.googleapis.com/css2?family=Alata&family=DM+Sans:wght@400;700&display=swap');

:root {
    --bg-color: hsl(27, 66%, 92%);
    --bottom-section-bg-color: hsl(60, 50%, 98%);
    --big-text: 28px;
    --medium-text: 20px;
    --small-text: 12px;
    --bottom-small-text-color: hsl(28, 10%, 53%);
    --bottom-big-and-medium-text-color: hsl(25, 47%, 15%);
    --non-active-chart-and-top-section-color: hsl(10, 79%, 65%);
    --active-chart-color: hsl(186, 34%, 60%);
    --border-radius: 13px;
    --thick: 700;
    --light: 400;
}

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
}

body,
html {
    width: 100vw;
    height: 100vh;
    min-height: 100vh;
    box-sizing: border-box;
    background: var(--bg-color);
    font-family: 'DM Sans', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

main {
    height: 80%;
    width: 35%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.top-section {
    height: 17%;
    width: 100%;
    background-color: var(--non-active-chart-and-top-section-color);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: var(--border-radius);
}

.logo > img {
    width: 50px;
    height: 50px;
}

.top-text {
    height: 60%;
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: var(--bottom-section-bg-color);
}

.balance-section {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    width: 50%;
}

.balance-section > p {
    font-size: var(--small-text);
    font-weight: var(--light);
    width: 100%;
}

.balance-section > h1 {
    font-size: var(--medium-text);
    font-weight: var(--light);
    font-family: 'DM Sans', sans-serif;
    letter-spacing: 1px;
    width: 100%;
}

.bottom-section {
    height: 80%;
    width: 100%;
    background-color: var(--bottom-section-bg-color);
    border-radius: var(--border-radius);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.spending {
    width: 100%;
    padding: 1rem 0 0 3rem;
    text-align: left;
    font-size: var(--small-text);
}

canvas {
    padding: 1.5rem;
}

hr {
    background-color: var(--non-active-chart-and-top-section-color);
    width: 85%;
}

.total {
    width: 85%;
    height: 20%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.this-month > p,
.last-month > p {
    font-size: var(--small-text);
    color: var(--bottom-small-text-color);
}

.this-month > h3 {
    font-size: var(--big-text);
    color: var(--bottom-big-and-medium-text-color);
    font-weight: var(--thick);
}

.last-month > small {
    font-size: var(--small-text);
    text-align: right;
    width: 100%;
    font-weight: var(--thick);
    color: var(--bottom-big-and-medium-text-color);
}

.last-month {
    width: fit-content;
    display: flex;
    flex-direction: column;
    gap: .2rem;
    align-items: flex-start;
}

footer {
    position: absolute;
    bottom: 0;
}

.attribution {
    font-size: 11px;
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}


.mobile {
    display: none !important;
}


@media only screen and (max-width: 1024px) {
    main {
        width: 50%;
        height: 80%;
    }
    
    .mobile {
        display: none !important;
    }
}

@media only screen and (max-width: 992px) {
    main {
        width: 70%;
        height: 60%;
    }
    
    .mobile {
        display: none !important;
    }
}

@media only screen and (max-width: 620px) {
    main {
        width: 90%;
        height: 65%;
    }

    .desktop {
        display: none !important;
    }

    .mobile {
        display: block !important;
    }
}